#footer,#header{
	max-width:100% !important;
}
.logo-container a{
	display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
	padding-left:60px;
}

.Padding-Left-Right{
	padding:0px !important
}
.navbar-collapse{
	margin-left: 25%;
    margin-top: 2%;
}
.navbar-collapse ul{
	margin-left: auto!important;
	display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
	flex-direction: row;
}

.navbar-collapse ul li.active{
	background: #d65106;
    color: #ffffff;
    border-radius: 4px;
}

.navbar-collapse ul li a.nav-link {
    color: #010101;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
	display: block;
}
.top-navbar .navbar {
background-color: white;
margin-left: -10px;
}
#slides{
margin-bottom: 30%;
height: 913px;
}

.slides .slide img{
width:100%;
}
.slides .slide .field-slidetext{
position: absolute;
top: 65%;
}
.sxa-bullets{
border: 2px solid #222;
border-radius: 15px;
width: 12px;
height: 45px;
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
*vertical-align: auto;
zoom: 1;
*display: inline;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=);
margin: 2px;
overflow: hidden;
text-indent: -99999px;
border: 2px solid #ffffff;
}
.sxa-bullets.active{
    background: #d65106;
    border: 2px solid #d65106;
}

.nav-items{
position: absolute;
z-index: 3;
bottom: 15px;
text-align: center;
width: 100%;}

.prev-text{
background: #d65106;
position: absolute;
height: 50px;
width: 50px;
top: 50%;
font-size: 20px;
display: block;
color: #fff;
border-radius: 4px;
line-height: 63px;
text-align: center;
transition: all .3s ease-in-out;
left:0;
}
.next-text{
background: #d65106;
position: absolute;
height: 50px;
width: 50px;
top: 50%;
font-size: 20px;
display: block;
color: #fff;
border-radius: 4px;
line-height: 63px;
text-align: center;
transition: all .3s ease-in-out;
right:0;
}
#content{
max-width:100%;
}
.navbar>.component-content{width:100%;}
