﻿<div class="header-area ">
    <div class="header-top_area d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-4">
                    @Html.Sitecore().Placeholder("header-logo")
                </div>
                <div class="col-xl-8 col-md-8">
                    <div class="header_right d-flex align-items-center">
                        <div class="short_contact_list">
                            @Html.Sitecore().Placeholder("header-rightcorner")
                        </div>
                        <div class="book_btn d-none d-lg-block">
                            @Html.Sitecore().Placeholder("header-cta")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-header" class="main-header-area">
        <div class="container">
            <div class="header_bottom_border">
                <div class="row align-items-center">
                    <div class="col-12 d-block d-lg-none">
                        @Html.Sitecore().Placeholder("header-logo-1")
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        @Html.Sitecore().Placeholder("header-nav")
                    </div>
                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                        <div class="Appointment justify-content-end">
                            <div class="search_btn">
                                <a data-toggle="modal" data-target="#exampleModalCenter" href="#">
                                    <i class="ti-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>